// Mobile first - break point
.container {
  width: auto;
  padding: 0 $padding-width-min;

  background-color: #999;

  @media (min-width: $bp-1+px) {
    width: $width-bp-1;
    margin: 0 auto;
    padding: 0;
  }

  @media (min-width: $bp-2+px) {
    width: $width-bp-2;
  }

  @media (min-width: $bp-3+px) {
    width: $width-bp-3;
  }
}

