
//FOLDER
$folder-images: "../img/";         // путь к изображениям
$folder-fonts:  "../fonts/";       // путь к шрифтам


//PADDING
$p-w-min: 15;
$p-w-max: 15;
// $p-bp-1:  15;
// $p-bp-2:  15;
// $p-bp-3:  15;

$padding-width-min: $p-w-min + px;
$padding-width-max: $p-w-max + px;
// $padding-bp-1:      $p-bp-1 + px;
// $padding-bp-2:      $p-bp-2 + px;
// $padding-bp-3:      $p-bp-3 + px;

//SIZE
$w-min: 320;
$w-max: 1240;
$w-layout: 1440;

//DesktopFirst
// $w-bp-1: 970;
// $w-bp-2: 750;
// $w-bp-3: 420;

//Mobile first
$w-bp-1: 345;
$w-bp-2: 690;
$w-bp-3: 1240;

$width-min: $w-min + px;
$width-max: $w-max + px;
$width-layout: $w-layout + px;

$width-bp-1: $w-bp-1 + px;
$width-bp-2: $w-bp-2 + px;
$width-bp-3: $w-bp-3 + px;


//BREAK POINT

//DesktopFirst
// $bp-1: $w-max + ($p-bp-1 * 2);
// $bp-2: 991.98;
// $bp-3: 767.98;
// $bp-4: 479.98;

//Mobile first
$bp-1: $w-bp-1 + ($p-w-min * 2);
$bp-2: 768;
$bp-3: $w-max + ($p-w-max * 2);


//RETINA
// $retina-dpi: "min-resolution: 144dpi";
// $retina-dppx: "min-resolution: 1.5dppx";


//COLOR
$color-black: #000000;
$color-white: #ffffff;
$color-primary: #0B7572;
$color-secondry: #FFCE50;
// $color-dark: ;
// $color-light: ;
$color-font-title: #363738;
$color-font-text: #6B6B6C;

//FONT
$font-family-base: "PT Sans", "Arial", sans-serif;
$font-size-base: 16px;
$line-height-base: 150%;
$font-weight-base: 400;
$font-color-base: $color-font-text;

//BACKGROUND
$body-bg-color: $color-white;

//TRANSITION

//BORDER

//FORM

//fieldset
//legend
//lebel
//input-text
//textarea
//radio
//checkbox

//BUTTON

//TABLE

